<script>
var hidden = true
document.getElementById('add-btn').value='+';
$('#add-btn').click(function () {
	if(hidden) {
	  $('#idea-new').animate({height: '500px'}, 250);
	  $('.left-mini').show();
	  $('.right-mini').show();
	  $('.center-mini').show();
	  document.getElementById('add-btn').value='-';
	  hidden = false;
	}
	else {
		$('.left-mini').hide();
	  $('.right-mini').hide();
	  $('.center-mini').hide();
	  $('#idea-new').animate({height: '200px'}, 250);
	  document.getElementById('add-btn').value='+';
	  hidden = true;
	}
});
</script>

<script>
$('.upvote').click(function () {
  // click just once
  if (this.className == "upvote") {
    var id = this.id;
    $.ajax({
     url: 'upvote?id=' + this.id,
     type: "POST",
     success: function(response) {
       if (response.success) {
         document.getElementById(id).setAttribute("class", "upvoted");
         document.getElementById(id + '#').innerHTML = parseInt(document.getElementById(id + '#').innerHTML) + 1;
       }
     }
    });
  }
});
</script>

<script>
$('.flag').click(function () {
  // click just once
  if (this.className == "flag") {
    var fid = this.id;
    $.ajax({
     url: 'flag?id=' + this.id.substring(0, this.id.length-1),
     type: "POST",
     success: function(response) {
       if (response.success)
         document.getElementById(fid).setAttribute("class", "flagged");
     }
    });
  }
});
</script>