extends layout

block content
  h1= title
  br
  h3 Our app is still in beta, so we need your help to get it running. We appreciate feedback of any kind. Thank you!
  br
  br
  
  <iframe src="https://docs.google.com/forms/d/1NFGxz7ahmerbF936eR20c-bfiRv2YEas4ioQq67hbrw/viewform?embedded=true" width="800" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
