extends layout

block content
  h1= title
  .spacer

  h3 What is Github-connect ?:
  p An open-source app (available on GitHub) built using node.js and a mongodb. At the moment, our aplication is still in beta, so we encourage you help us or just send your 
    a(href="/contact") feedback.

  h3 Why Github-connect ?
  p Because your contribution to open-source projects is important and we need a way to quantify your work.

  h3 What are cups/tentacles ?

  h3 How do I get points ?
  p Once you log in, we look over your GitHub account and reward your past activities with a number of cups.
    h4 GitHub Points
		| 20 cups for each initiated repo
		| 10 cups for every fork of your repo
		| 1  cup for every watcher
		| 30 cups for every merged pull request
		
    h4 Points from ideas.
    p TO DO

    h4 Points for projects.
    p TO DO

  h3 How do I get more points ?
