extends layout

block content
  h1= title
  .spacer

  h3 What is Github-connect ?
  p An open-source app built using node.js and a mongodb. At the moment, our aplication is still in beta, so we encourage you help us or just send your 
    a(href="/contact") feedback.

  h3 Why Github-connect ?
  p Because our contributions to open-source projects are important and we need a way to quantify the work and dedication.

  h3 What are cups/tentacles ?
  p You get (suction) <b>cups</b> for different actions regarding your projects and the pull requests you make. More detailes below. <b>tentacles</b> represent the number of repositories that had the benefit of your help, so do not settle for just one project. Diversity makes us stronger.

  h3 How do I get points ?
  p Once you log in, we look over your GitHub account and reward your past activities with a number of points (cups).
    h4 GitHub Points
    | * 20 cups for each initiated repo <br>
    | * 10 cups for every fork of your repo <br>
    | * 1  cup for every watcher <br>
    | * 30 cups for every merged pull request <br>

    h4 Points from ideas.
    p This is work in progress. Sorry.

    h4 Points for projects.
    p This is work in progress. Sorry.
  
  h3 Can I help ?
  p Github-connect is a free, open-source project, so your help is welcomed. You can get the 
    a(href='https://github.com/cmarius02/github-connect') repo
    |  from GitHub.
