!!! 5
html
  head
    title= title
    link(rel='shortcut icon', href='images/github-icon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    script(type="text/javascript", src='http://code.jquery.com/jquery-1.8.1.js')
    script(type="text/javascript", src='/javascripts/form.js')
    script(type="text/javascript", src='/javascripts/bootstrap-datepicker.js')

  body
  
    
  
    #container
      #header
        #logo
          a(href="/")
            img(id='logo', src='images/gc-logo.png', width="42", height="42")
        #nav
          ul
            li
              a(href="/projects") Projects
            li
              a(href="/ideas") Ideas
        #controls
          - if (!everyauth.loggedIn)          
            a(href="/login") Login
          - else
            - if (user)
              = user.points_repos
              |  cups for 
              a(href="/profile")= user.user_name + " "
            a(href="/logout")
              img(id='logout', src='images/icon-logout.png')

      #body
        block content

      .spacer

      #footer
        #copyright
          b &copy; Github-connect, 2014
        #logo-footer
          img(src='images/gc-logo-footer.png')
        #menu-footer
          ul
            //li 
            //  a(href="/about") About
            li 
              a(href="/faq") FAQ
            li 
              a(href="/contact") Contact

  - if (everyauth.loggedIn)
    script var userid = "#{user.user_id}"; var cups = "#{user.points_repos}";

  include facebook.html
  include animations.html
