!!! 5
html
  head
    title Hello
  body
    h1 Hello world!
    a(href='/auth/github') sign in with github
      | hey there, {{= username}}!
      | your repos:
      | {{each repos}}
      a(href='{{= $value.url}}') {{= $value.name}}
      | {{= $value.description}}
      | {{/each}}
