extends layout

block content
  h1= title
  - if (!everyauth.loggedIn)
    .card.css3-shadow
      .login-left
        p You can do a lot of things on our site, but loging in will further enchance your experience and give you access to many more options.
        br
        p
          a.btn(href="/auth/github") Login with github

      .login-right
        p GitHub is a great tool. Create an account right now to get access to all its features and also get in the game with us right away.
        br
        p
          a.btn(href="http://www.github.com") Create new account

    .spacer

  h3 Why join Github-connect:
  p
    | * get points for your contributions and compare it against your friends
    br
    | * bring your project ideas against our community and get help implementing them
