extends layout

block content
  h1= title
  - if (!everyauth.loggedIn)
    .card.css3-shadow
      .left-mini
        p Logging in with your GitHub account will enable you to post 
          your own ideas, leave comments and become part of a great 
          community.
        br
        p
          a.btn(href="/auth/github") Login with github

      .right-mini
        p Or you can create an GitHub account to enjoy the full experience 
          right away.
        br
        p
          a.btn(href="http://www.github.com") Create new account

    .spacer

  - else
    h1 Esti online
    h3
      a(href='/logout') Logout
      h3 LOG IN
