extends layout

block content
  #menu

  #content
    .profile-left
      .profile-avatar
        img(src=user.avatar_url + "&s=440")
      .profile-name
        b= user.user_fullname
        br
        = user.user_name
      .profile-info
        = user.location
      .profile-info
        = user.user_email
      .profile-info
        = user.join_us
      .profile-numbers
        
      - if (everyauth.loggedIn)
        a(href='/logout') Logout
        
    .profile-right
      .profile-ideas
        .profile-header Ideas
        - each idea in ideas
          .profile-idea
            a(href='/idea?id=' + idea._id)= idea.title
      .spacer
      .profile-repos
        .profile-header All repositories
        - each repo in user.repos
          .profile-repo
            .profile-repo-name
              a(href=repo.html_url)= repo.name
            - if (repo.points != 0)
              .profile-repo-points
                | +
                = repo.points
            .profile-repo-desc
              = repo.description