body {
    margin: 0px;
    padding: 0px;
    background-image: url('/images/bg-body.png');
    background-repeat: repeat-x;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
}

#header {
    width: 980px;
}

#logo {
    width: 80px;
    float: left;
}

#nav {
    width: 680px;
    height: 20px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px;
}

#nav ul {
    margin: 0px;
    padding: 0px;
}

#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#controls {
    width: 200px;
    float: left;
    text-align: right;
}


#body {
    clear: both;
    background-color: green;
}

#menu {
    width: 980px;
    background-color: blue;
}

#idea-new {
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

#idea-desc {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 900px;
    padding: 40px;
    background-color: yellow;
}

#idea-table-header {
    width: 800px;
    height: 30px;
}

#idea-table-header li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.idea-title-text {
    width: 760px;
    height: 30px;
    float: left;
}

.idea-title-fav {
    width: 40px;
    height: 30px;
    float: left;
}

#footer {
    width: 960px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    clear: both;
    border-top:2px solid #e7e7e7;
}

#copyright {
    width: 440px;
    height: 100px;
    float: left;
    text-align: left;
}

#logo-footer {
    width: 80px;
    height: 100px;
    float: left;
    text-align: center;
}

#menu-footer {
    width: 440px;
    height: 100px;
    float: left;
    text-align: right;
}

#menu-footer li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.idea {
    width: 800px;
    background-color: green;
}
.idea-title {
    width: 800px;
    height: 30px;
    margin: 0px;
    background-color: red;
}
.idea-content {
    width: 780px;
    height: 60px;
    margin: 0px;
    padding: 10px;
    background-color: blue;
}

.comment {
    width: 800px;
    height: 50px;
    background-color: red;
}

.left {
    width: 800px;
    float: left;
}

.left-half {
    width: 300px;
    float: left;
}

.right {
    width: 80px;
    float: left;
}

.right-half {
    width: 300px;
    float: left;
}

.spacer {
    height: 20px;
    clear: both;
}

.announcement {
    width: 900px;
    height: 40px;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

.card {
    width: 980px;
    height: 300px;
}
